<div fxHide.gt-sm>
   
    <mat-card>
        <mat-card-title>
            <h1 class="heading">Plank</h1>
        </mat-card-title>

        <video width="330px" height="400px" controls>
            <source src="assets/video/plank2.mp4" type="video/mp4">
        </video><br><br>

        <mat-card-content>
        <ol>
            <li>Begin on your hands and knees, with your wrists directly under your shoulders. Breathe smoothly and
                evenly through your
                nose. Bring your thoughts to focus on the present moment.</li>
            <li>Spread your fingers and press down through your forearms and hands. Do not let your chest collapse.
            </li>
            <li>Gaze down between your hands, lengthening the back of your neck and drawing your abdominal muscles
                toward your spine.</li>
            <li>Tuck your toes and step back with your feet, bringing your body and head into one straight line.
            </li>
            <li>Keep your thighs lifted and take care not to let your hips sink too low. If your butt sticks up in
                the
                air, realign your
                body so your shoulders are directly above your wrists.</li>
            <li>Draw your pelvic floor muscles toward your spine as you contract your abdominal muscles. Keep your
                head
                in line with
                your spine. Broaden across your shoulder blades and across your collarbones.</li>
            <li>Draw down through the bases of your index fingers — do not let your hands roll open toward the
                pinkie
                fingers.</li>
            <li>Press the front of your thighs (quadriceps) up toward the ceiling while lengthening your tailbone
                toward
                your heels</li>
            <li>Hold the pose while breathing smoothly for five breaths. If you are using the pose to build strength
                and
                stamina, hold
                for up to five minutes. To release, slowly lower onto your knees, then press back into Child's Pose
                and
                rest. Those
                practicing Sun Salutations should move directly from Plank into Chaturanga or Knees-Chest-Chin Pose.
            </li>
            <br>
        </ol>
        </mat-card-content>
        <mat-card-actions>
           
            <button mat-raised-button color="accent" (click)="start()" >Start Now</button>
        </mat-card-actions>
    </mat-card>