mat-form-field
{
    width: 300px;

}
.signup
{
    padding: 50px;
}
mat-card
{
    width: 350px;
    
}
.loginheading{
    padding: 8px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}