.login
{
    padding: 30px;
}
mat-card
{
    width: 350px;

}
mat-form-field
{
    width: 300px;
}
a{
    text-decoration :none;
    text-align: left;
    color:black;
}
.loginheading{
    padding: 20px;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.img{
   width:60px;height:60px;
   padding :10px;
}
