<mat-card>
    <mat-card-title>
        <h1 class="heading">Halasana</h1>
    </mat-card-title>

    <video width="330px" height="400px" controls>
        <source src="assets/video/halasana-2.mp4" type="video/mp4">
    </video><br><br>

    <mat-card-content>
            <ol>
                <li>Lie on your back. Join the legs together. Relax the whole body (Shavasana position)..</li>
                <li>Keep the palm flat on the ground. Keep breathing normally.</li>
                <li>While exhaling press the palm on the ground and raise both the legs upwards straight then try to
                    touch
                    the ground just
                    behind.</li>
                <li>Tuck your toes and step back with your feet, bringing your body and head into one straight line.
                </li>
                <li>Now slowly release the pose to return to Shavasana.</li>
            
                <br>
            </ol>
    </mat-card-content>
    <mat-card-actions>
  
        <button mat-raised-button color="accent" (click)="onstart()">Start Now</button>
    </mat-card-actions>
</mat-card>
<br>