
<mat-card>
    <mat-card-title>
        <h1 class="heading2">Chair Pose</h1>
    </mat-card-title>

    <video width="330px" height="400px" controls>
        <source src="assets/video/chairpose.mp4" type="video/mp4">
    </video><br><br>

    <mat-card-content>
        <ol>
            <li>Stand erect with your feet slightly apart.</li>
            <li>Stretch your hands to the front with palms facing downwards. Do not bend your elbows.</li>
            <li>Bend the knees and gently push your pelvis down as if you are sitting in an imaginary chair.</li>
            <li>Be comfortable or at least try to be! To get a better feel of the Chair Pose, imagine reading a
                newspaper or typing on a
                laptop as you remain seated.</li>
            <li>Ensure that you keep your hands parallel to the ground.</li>
            <li>With awareness, sit straight and lengthen your spine. Relax.</li>
            <li>Keep breathing and flip through the pages of the newspaper, enjoying national and international
                news.
            </li>
            <li>Sink deeper into the chair by gradually going down but ensure that your knees don’t go beyond your
                toes.
            </li>
            <li>Keep going down slowly and then sit down in Sukhasana (cross-legged posture). If you want, you may
                lie
                down on your back
                and relax.</li>
            <br>
        </ol>
    </mat-card-content>
    <mat-card-actions>
       
        <button mat-raised-button color="accent" (click)="onstart()">Start Now</button>
    </mat-card-actions>
</mat-card>