.moblieheading
{
    font-family: monospace;
    text-align: center;
    color: wheat;
    font-size: 30px;
    padding:30px

}
.button
{
    left:50%;
}
mat-card{
    padding: 20px;
}
.heading2
{

    font-family: monospace;
    text-align: center;
    color: rgb(141, 102, 247);
    font-size: 30px;
    padding:25px
}.heading
{
    font-family: monospace;
    text-align: center;
    color: rgb(141, 102, 247);
    font-size: 30px;
    padding:30px

}
