<div fxHide.lt-md>
    <hr>
    <h1 class="heading">* * * Quick Tutorial * * *</h1>
    <hr>
    <h1 class="heading">Plank</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

        <section>
            <video width="600px" height="400px" controls>
                <source src="assets/video/plank2.mp4" type="video/mp4">
            </video>
        </section>

        <section>

            <ol>
                <li>Begin on your hands and knees, with your wrists directly under your shoulders. Breathe smoothly and
                    evenly through your
                    nose. Bring your thoughts to focus on the present moment.</li>
                <li>Spread your fingers and press down through your forearms and hands. Do not let your chest collapse.
                </li>
                <li>Gaze down between your hands, lengthening the back of your neck and drawing your abdominal muscles
                    toward your spine.</li>
                <li>Tuck your toes and step back with your feet, bringing your body and head into one straight line.
                </li>
                <li>Keep your thighs lifted and take care not to let your hips sink too low. If your butt sticks up in
                    the
                    air, realign your
                    body so your shoulders are directly above your wrists.</li>
                <li>Draw your pelvic floor muscles toward your spine as you contract your abdominal muscles. Keep your
                    head
                    in line with
                    your spine. Broaden across your shoulder blades and across your collarbones.</li>
                <li>Draw down through the bases of your index fingers — do not let your hands roll open toward the
                    pinkie
                    fingers.</li>
                <li>Press the front of your thighs (quadriceps) up toward the ceiling while lengthening your tailbone
                    toward
                    your heels</li>
                <li>Hold the pose while breathing smoothly for five breaths. If you are using the pose to build strength
                    and
                    stamina, hold
                    for up to five minutes. To release, slowly lower onto your knees, then press back into Child's Pose
                    and
                    rest. Those
                    practicing Sun Salutations should move directly from Plank into Chaturanga or Knees-Chest-Chin Pose.
                </li>
                <br>
            </ol>
            <button mat-raised-button color="accent" class="button" (click)="onstart()">Start Now</button>
        </section>

    </div>
    <br><br>
    <hr>


    <h1 class="heading">Halasana</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

        <section>
            <video width="600px" height="400px" controls>
                <source src="assets/video/halasana-2.mp4" type="video/mp4">
            </video>
        </section>

        <section>

            <ol>
                <li>Lie on your back. Join the legs together. Relax the whole body (Shavasana position)..</li>
                <li>Keep the palm flat on the ground. Keep breathing normally.</li>
                <li>While exhaling press the palm on the ground and raise both the legs upwards straight then try to
                    touch
                    the ground just
                    behind.</li>
                <li>Tuck your toes and step back with your feet, bringing your body and head into one straight line.
                </li>
                <li>Now slowly release the pose to return to Shavasana.</li>

                <br>
            </ol>
            <button mat-raised-button color="accent" class="button" (click)="onstart()">Start Now</button>
        </section>

    </div><br><br>
    <hr>



    <h1 class="heading">Chair Pose</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

        <section>
            <video width="600px" height="400px" controls>
                <source src="assets/video/chairpose.mp4" type="video/mp4">
            </video>
        </section>

        <section>

            <ol>
                <li>Stand erect with your feet slightly apart.</li>
                <li>Stretch your hands to the front with palms facing downwards. Do not bend your elbows.</li>
                <li>Bend the knees and gently push your pelvis down as if you are sitting in an imaginary chair.</li>
                <li>Be comfortable or at least try to be! To get a better feel of the Chair Pose, imagine reading a
                    newspaper or typing on a
                    laptop as you remain seated.</li>
                <li>Ensure that you keep your hands parallel to the ground.</li>
                <li>With awareness, sit straight and lengthen your spine. Relax.</li>
                <li>Keep breathing and flip through the pages of the newspaper, enjoying national and international
                    news.
                </li>
                <li>Sink deeper into the chair by gradually going down but ensure that your knees don’t go beyond your
                    toes.
                </li>
                <li>Keep going down slowly and then sit down in Sukhasana (cross-legged posture). If you want, you may
                    lie
                    down on your back
                    and relax.</li>
                <br>
            </ol>
            <button mat-raised-button color="accent" class="button" (click)="onstart()">Start Now</button>
        </section>

    </div><br><br>
    <hr>



    <h1 class="heading">Wheel Pose</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

        <section>
            <video width="600px" height="400px" controls>
                <source src="assets/video/wheelpose.mp4" type="video/mp4">
            </video>
        </section>

        <section>

            <ol>
                <li>lie on your back</li>
                <li>Bend your knees, bringing the soles of your feet onto your mat close to the buttocks. Reach down
                    with your fingertips
                    and make sure that you can just graze your heels. The feet should be parallel and hips' distance
                    apart.</li>
                <li>Bend your elbows and bring the palms of your hands underneath your shoulders with the fingertips
                    pointing towards your
                    feet.
                </li>
                <li>Inhale and press down into your palms and your feet as you lift your shoulders and hips up off the
                    floor. Do not press
                    all the way up yet.</li>
                <li>Bring the crown of your head to the mat. Pause here for a moment as you make sure that your elbows
                    are staying parallel
                    and not splaying out to the sides.</li>
                <li>Straighten your arms as you lift your head off the floor.</li>
                <li>Make sure to keep your feet parallel and knees in line with your feet.
                </li>
                <li>Reach your chest towards the wall behind you.
                </li>
                <li>Begin to straighten your legs.</li>
                <li>To come down, tuck your chin into your chest and lower down slowly.</li>
                <li>Rest, allowing the knees to knock together.</li>
                <li>Try to do your backbends in sets of three. If it's too much to do three Wheels at first, you can mix
                    in a Bridge or two.</li>
                <br>
            </ol>
            <button mat-raised-button color="accent" class="button" (click)="onstart()">Start Now</button>
        </section>

    </div><br><br>
    <hr>
</div>