<mat-card>
    <mat-card-title>
        <h1 class="heading2">Wheel Pose</h1>
    </mat-card-title>

    <video width="330px" height="400px" controls>
        <source src="assets/video/wheelpose.mp4" type="video/mp4">
    </video><br><br>

    <mat-card-content>
        <ol>
            <li>lie on your back</li>
            <li>Bend your knees, bringing the soles of your feet onto your mat close to the buttocks. Reach down
                with your fingertips
                and make sure that you can just graze your heels. The feet should be parallel and hips' distance
                apart.</li>
            <li>Bend your elbows and bring the palms of your hands underneath your shoulders with the fingertips
                pointing towards your
                feet.
            </li>
            <li>Inhale and press down into your palms and your feet as you lift your shoulders and hips up off the
                floor. Do not press
                all the way up yet.</li>
            <li>Bring the crown of your head to the mat. Pause here for a moment as you make sure that your elbows
                are staying parallel
                and not splaying out to the sides.</li>
            <li>Straighten your arms as you lift your head off the floor.</li>
            <li>Make sure to keep your feet parallel and knees in line with your feet.
            </li>
            <li>Reach your chest towards the wall behind you.
            </li>
            <li>Begin to straighten your legs.</li>
            <li>To come down, tuck your chin into your chest and lower down slowly.</li>
            <li>Rest, allowing the knees to knock together.</li>
            <li>Try to do your backbends in sets of three. If it's too much to do three Wheels at first, you can mix
                in a Bridge or two.</li>
            <br>
        </ol>
    </mat-card-content>
    <mat-card-actions>
      
        <button mat-raised-button color="accent" (click)="onstart()">Start Now</button>
    </mat-card-actions>
</mat-card>