mat-form-field
{
    width: 300px;

}
.signup
{
    padding: 50px;
}
mat-card
{
    width: 350px;
    
}
.loginheading{
    padding: 8px;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.img{
   width:60px;height:60px;
   padding :10px;
}