<div class="continar">
    <section class="yoga" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="heading">
            Walk for Good health
        </h1>
            <div class="content">
                    <p>
                        Walking is a great way to improve or maintain your overall health. Just 30 minutes every day can increase cardiovascular
                        fitness, strengthen bones, reduce excess body fat, and boost muscle power and endurance. It can also reduce your risk of
                        developing conditions such as heart disease, type 2 diabetes, osteoporosis and some cancers. Unlike some other forms of
                        exercise, walking is free and doesn’t require any special equipment or training.
                    </p>
                    <p>Walking for fun and fitness isn’t limited to strolling by yourself around local neighbourhood streets. There are various
                    clubs, venues and strategies you can use to make walking an enjoyable and social part of your lifestyle.</p>
            
                    <p>
                        <img class="image" src="assets/image/walkpage.jpg">
                    </p>
                
                
               
            </div>
    </section>
    <section class="pad" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="heading">Walking for 30 minutes a day</h1>
        <p>
            To get the health benefits, try to walk for at least 30 minutes as briskly as you can on most days of the week.
            ‘Brisk’
            means that you can still talk but not sing, and you may be puffing slightly. Moderate activities such as walking
            pose
            little health risk but, if you have a medical condition, check with your doctor before starting any new exercise
            program
            of physical activity.
        </p>
    </section>
    <section class="gap" fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="start()" >Start Now</button>
    </section>
</div>