<div class="continar">
<section class="yoga" fxLayout="column" fxLayoutAlign="center center">
     <h1 class="heading">What is the importance of yoga in our daily life?</h1>
   <div class="content">
      
        
       <p> Yoga is not a religion, it is a way of living that aims towards a healthy mind in a healthy body.
        
        Man is a physical, mental and spiritual being; yoga helps promote a balanced development of all the three. Other forms
        of physical exercises, like aerobics, assure only physical well-being. They have little to do with the development of
        the spiritual or astral body.
        
        Yogic exercises recharge the body with cosmic energy and facilitates:
        
        Attainment of perfect equilibrium and harmony
        Promotes self- healing.
        Removes negative blocks from the mind and toxins from the body
        Enhances personal power
        Yoga to live with greater awareness
        Helps in attention, focus and concentration, especially important for children
        Reduces stress and tension in the physical body by activating the parasympathetic nervous system
        Yoga for better relationships
        The aspirant feels rejuvenated and energized. Thus, yoga bestows upon every aspirant the powers to control body and
        mind.</p>
        <p>
        <img class="image" src="assets/image/yoga.jpg"></p>
     <p>   Benefits of Yoga</p>
        
        <p>The art of practicing yoga helps in controlling an individual’s mind, body and soul. It brings together physical and
        mental disciplines to achieve a peaceful body and mind; it helps manage stress and anxiety and keeps you relaxing. It
        also helps in increasing flexibility, muscle strength and body tone. It improves respiration, energy and vitality.
        Practicing yoga might seem like just stretching, but it can do much more for your body from the way you feel, look and
        move.
        
        Yoga asanas build strength, flexibility and confidence. Regular practice of yoga can help lose weight, relieve stress,
        improve immunity and maintain a healthier lifestyle.</p>
        
       </div>
    
</section>
<section class="gap" fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="starttraining()">Start Now</button>
    </section>
</div>