<div>
  <section>
    <img class="img-responsive" src="assets/image/welcome1.jpg">
  </section>




  <section fxLayout fxLayoutAlign="center" fxHide.lt-md>
    <h1 class="head"> Keep a track on the daily exercise !! </h1>
    
  </section>



  <section fxLayout fxLayoutAlign="center" fxHide.gt-sm>
    <h1 class="smallhead"> Keep a track on the daily exercise !!</h1>
  </section>









  <div class="welcome" fxLayout.lt-md="column" fxLayout.gt-md="row" fxLayoutGap="20px" fxLayoutAlign="center center">




    <section>
      <mat-card>
        <mat-card-title>Yoga!</mat-card-title>
        <mat-card-subtitle>Yoga is not a religion, it is a way of living that aims towards a healthy mind in a healthy
          body.</mat-card-subtitle>
        <img class="card-img" mat-card-image src="assets/image/yogacard.jpg">
        <mat-card-content>The art of practicing yoga helps in controlling an individual’s mind, body and soul. It brings
          together physical and
          mental disciplines to achieve a peaceful body and mind;</mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="yoga()">Read More</button>
          <button mat-raised-button color="accent" (click)="Start()">Start Now</button>
        </mat-card-actions>
      </mat-card>
    </section>




    <section>
      <mat-card>
        <mat-card-title>Walk</mat-card-title>
        <mat-card-subtitle>An early-morning walk is a blessing for the whole day
        </mat-card-subtitle>
        <img class="card-img" mat-card-image src="assets/image/walk.jpg">
        <mat-card-content>Walking is a great way to improve or maintain your overall health. Just 30 minutes every day
          can increase cardiovascular
          fitness, strengthen bones, reduce excess body fat, and boost muscle power and endurance.</mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="walk()">Read More</button>
          <button mat-raised-button color="accent" (click)="Start()">Start Now</button>

        </mat-card-actions>
      </mat-card>
    </section>


  </div>

</div>