.welcome{
text-align: center;
}
.img-responsive
{
    width: 100%;
}
.card-img
{
    width: 400px;
}
.head
{text-align: center;
 margin: 1em 0 0.5em 0;
    padding: 30px;
	color:black;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;
	font-size: 50px;
	line-height: 42px;
	text-transform: uppercase;

}
.smallhead{
	text-align: center;
 margin: 1em 0 0.5em 0;
    padding: 30px;
	color:black;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;
	font-size: 20px;
	line-height: 42px;
	text-transform: uppercase;

}
.padding
{
    padding: 20px;
}
