.welcome{
text-align: center;
}
.img-responsive
{
    width: 100%;
}
.card-img
{
    width: 400px;
}
.head
{
 margin: 1em 0 0.5em 0;
    padding: 30px;
	color: #6f14e6a8;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 100px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px hsla(165, 100%, 56%, 0.659);
}
.smallhead{
 margin: 1em 0 0.5em 0;
    padding: 30px;
	color: #6f14e6a8;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 40px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px hsla(165, 100%, 56%, 0.659);
}
.padding
{
    padding: 20px;
}